<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>GetQuestionViewServlet</servlet-name>
    <servlet-class>servlet.GetQuestionViewServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetAnswerViewServlet</servlet-name>
    <servlet-class>servlet.GetAnswerViewServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddQuestionServlet</servlet-name>
    <servlet-class>servlet.AddQuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddAnswerServlet</servlet-name>
    <servlet-class>servlet.AddAnswerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>GetQuestionViewServlet</servlet-name>
    <url-pattern>/getQuestionViewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAnswerViewServlet</servlet-name>
    <url-pattern>/getAnswerViewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddQuestionServlet</servlet-name>
    <url-pattern>/addQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddAnswerServlet</servlet-name>
    <url-pattern>/addAnswerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
</web-app>


